<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/">Add</a>
    <a href="facedetection">check</a>
    <style>
        a{
            padding: 10px;
            text-decoration: none;
        }
    </style>
    <center>

        <h1>Add Some Images</h1>
        <form action="" method="post" enctype="multipart/form-data">
            <table>
                <tr>
                    <th>Name</th>
                    <td><input type="text" name="name" id=""></td>
                </tr>
                <tr>
                    <th>Main Image</th>
                    <td><input type="file" name="image" id=""></td>
                </tr>
                <!-- <tr style="border: 2px solid grey;">
                   
                    <td><input type="file" name="image1" id=""></td>
                    <td><input type="file" name="image2" id=""></td>
                    <td><input type="file" name="image3" id=""></td>
                </tr> -->
                <tr>
                    <td colspan="3"  align="center"><input style="background: red;color:white;border: none;padding: 5px 10px;" type="submit" name="submits" id=""></td>
                </tr>
            </table>
            <br>
            <table style="width: 600px;">
                <tr align="center">
                    <th>Index</th>
                    <th>Name</th>
                    <th>Image</th>
                </tr>
                {% for row in data['student'] %}
                <tr align="center">
                    <td>{{ loop.index }}</td>
                    <td>{{ row['name'] }}</td>
                    <td><a href="/{{ row['img1'] }}"><img src="/{{ row['img1'] }}" width="100" height="100" alt=""></a></td>
                </tr>
                {% endfor %}
            </table>
        </form>
    </center>
    {% with messages = get_flashed_messages() %}
    {% if messages %}

    {% for message in messages %}
    <script>alert("{{ message }}")</script>
    {% endfor %}

    {% endif %}
    {% endwith %} 
	
	{% block body %}{% endblock %}
</body>
</html>